#logo{
	filter: invert(100%);
}
 #title{
 	filter: invert(100%);
 }

 .home{
 	color: white;
 }
 #searchbar{ 
	margin-left: -4%; 
	padding:15px; 
	border-radius: 70px;

} 

input[type=text] { 
	width: 30%; 
	-webkit-transition: width 0.15s ease-in-out; 
	transition: width 0.15s ease-in-out; 
} 

/* When the input field gets focus, 
		change its width to 100% */
input[type=text]:focus { 
	width: 40%; 
} 

#list{ 
	font-size: 1.5em; 
	margin-left: 90px; 
} 

.animals{ 
display: list-item;	 
} 
