.logo{
    min-height: 0px;
}

.nav{
cursor: pointer;
}

.text-background {
    position: absolute;
    bottom: 91px;
    right: 20px;
    background-color: transparent;
    color:white;
    padding-left: 20px;
    padding-right: 397px;
    font-size: 100px;
}

.background{

}

