#logo {
  margin-right: 5px;
  filter: invert(100%);
}
#title {
  filter: invert(100%);
}

.home {
  color: white;
}
#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #555; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 100px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#myBtn:hover {
  background-color: rgb(61, 60, 60); /* Add a dark-grey background on hover */
}
#arrow {
  filter: invert(100%);
}
#myInput {
  background-image: url("..."); /* Add a search icon to input */
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  padding: 12px 20px 12px 40px; /* Add some padding */
  border: black; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
  margin-top: 12px; /* Add some space below the input */
  outline: none;
  border-radius: 100%;
}

.myUL {
  /* Remove default list styling */
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.myUL li a {
  border: 1px solid #ddd; /* Add a border to all links */
  margin-top: -1px; /* Prevent double borders */
  background-color: #f6f6f6; /* Grey background color */
  padding: 12px; /* Add some padding */
  text-decoration: none; /* Remove default text underline */
  font-size: 18px; /* Increase the font-size */
  color: black; /* Add a black text color */
  display: block; /* Make it into a block element to fill the whole list */
}

.myUL li a:hover:not(.header) {
  background-color: #eee; /* Add a hover effect to all links, except for headers */
}

body{
  scroll-behavior: smooth;
}
body, html {
  height: 90%;
}
      .parallax {
  /* The image used */
  background-image: url("../assets/2.jpg ");

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.welcome{
  color: white;
  font-size: 60px;
  text-align: center;
  padding: 249px;
}
@media only screen and (max-device-width: 480px) {

}
.sort{
  margin: 15px;
}